{% extends './layout.html' %}
{% load static %}
{% block content %}


<section class="content">
    <div class="row">
      <div class="col-md-12">
        <div id="meet"></div>
      </div>
    </div>
    <button id="btn-lol">perfil</button>
    <button id="btn-xd">Gestionar cursos</button>
</section>




<script src="https://meet.jit.si/external_api.js"></script>
<script src="{% static 'js/meeting.js' %}"></script>
<script src="{% static 'js/perfil.js' %}"></script>
<script src="{% static 'js/cursos.js' %}"></script>

{% endblock %}
